<h1>Welcome {{ username }}</h1>
<br>

<div class="container">

  <!-- LEFT SIDE -->
  <div class="task-table">
    <h2>Current Tasks:</h2>
    <p *ngIf="taskList.length == 0">No tasks currently.</p>
    <table *ngIf="taskList.length !== 0">
      <thead>
        <tr>
          <th>Title</th>
          <th>Start</th>
          <th>End</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        @for (task of taskList; track task._id) {
          <tr>
            <td class="title-cell">
              {{ task.title }}

              <div class="tooltip">
                Description: {{ task.description }}
              </div>
            </td>

            <td>
              {{ task.startDate | date:'yyyy-MM-dd HH:mm' }}
            </td>

            <td>
              {{ task.endDate | date:'yyyy-MM-dd HH:mm' }}
            </td>

            <td>
              {{ task.isCompleted ? 'Done' : 'Pending' }}
            </td>

            <td>
              <button (click)="onClick(task)">
                Update
              </button>

              <button (click)="onDelete(task._id || '')">
                Delete
              </button>

              <button (click)="onMark(task._id || '', true)" *ngIf="!task.isCompleted">
                Mark
              </button>

              <button (click)="onMark(task._id || '', false)" *ngIf="task.isCompleted">
                Unmark
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>

  </div>

  <!-- RIGHT SIDE -->
  <div class="task-form">

    <p>{{ message }}</p>

    <h2>
      {{ isEditing ? 'Update Task' : 'Create Task' }}
    </h2>

    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">

      <input
        type="text"
        placeholder="Title"
        formControlName="title"
      />

      <textarea
        placeholder="Description"
        formControlName="description"
      ></textarea>

      <label>Start Date</label>

      <input
        type="datetime-local"
        formControlName="startDate"
      />

      <label>End Date</label>

      <input
        type="datetime-local"
        formControlName="endDate"
      />

      <button type="submit">
        {{ isEditing ? 'Update' : 'Create' }}
      </button>

    </form>

  </div>

</div>
