<app-manager-navbar *ngIf="isManager"></app-manager-navbar>

<h1>Welcome {{ username }}</h1>
<br>

<p *ngIf="isManager && selectedEmployee.username != ''">
  Viewing Tasks for {{ selectedEmployee.username }}
</p>

<div class="container">
  <!-- LEFT SIDE -->
  <app-task-table class="task-table"></app-task-table>
  
  <!-- RIGHT SIDE -->
  <app-task-form class="task-form" *ngIf="!isCurrentUserPage"></app-task-form>
  <app-manager-task-form class="task-form" *ngIf="isCurrentUserPage"></app-manager-task-form>
</div>
