.container {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  padding: 20px;
}

/* LEFT */
.task-table {
  flex: 2;
}

/* RIGHT */
.task-form {
  flex: 1;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #fafafa;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
}

th {
  background-color: #f3f3f3;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input,
textarea,
button {
  padding: 10px;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

h1 {
    text-align: center;
}

::ng-deep .task-tooltip {
  background-color: #1e293b !important;
  color: white !important;

  border: 2px solid #475569;
  border-radius: 8px;

  padding: 12px !important;

  font-size: 14px;
  max-width: 250px;

  white-space: pre-line;
}