.container {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  padding: 20px;
}

/* LEFT */
.user-table {
  flex: 2;
}

/* RIGHT */
.user-form {
  flex: 1;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #fafafa;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
}

th {
  background-color: #f3f3f3;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input,
button {
  padding: 10px;
}

h1, p {
    text-align: center;
}
